@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: red; /*255, 255, 255;*/
    /* --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* Custom Tailwind CSS */
@layer utilities {
   .nav-link {
      @apply text-cyan-600 hover:text-violet-500 transition-colors
   }
}

/* Custom styles */
.gdBtn-styl-1 {
   border: 0px solid green;/* !important; */
}

.gd-test {
   border: 1px solid magenta;
}

.gd-brdr-lt-grey {
   border-color: rgb(183, 182, 182) !important;
}

.gd-brdr-red {
   border-color: rgb(250, 11, 11) !important;
}

.gd-avatar-border {
   border: 2px solid rgb(151, 154, 154);
}